<!-- begin sidebar scrollbar -->
<div data-scrollbar="true" data-height="100%">
	<!-- begin sidebar nav ※ 활성화 메뉴 li에 class="active" 처리, sub-menu li 있을경우 같이 처리 -->
	<ul class="nav">
		<li class="nav-header"><i class="fa fa-cubes" aria-hidden="true"></i>Administration Menu</li>
		<li>
			<a href="index.html">
				<i class="fa fa-th-large"></i>
				<span>Home</span>
			</a>
		</li>
		<li>
			<a href="login.html" target="_blank">
				<i class="fa fa-th-large"></i>
				<span>Login페이지</span>
			</a>
		</li>
		<li class="has-sub">
			<a href="javascript:;">
				<b class="caret"></b>
				<i class="fa fa-align-left"></i>
				<span>게시판</span>
			</a>
			<ul class="sub-menu">
				<li><a href="board_list.html">자료실</a></li>
			</ul>
		</li>
		<li>
			<a href="stats.html">
				<i class="fa fa-th-large"></i>
				<span>통계</span>
			</a>
		</li>
		<li class="has-sub">
			<a href="javascript:;">
				<b class="caret"></b>
				<i class="fa fa-th-large"></i>
				<span>버튼 Form Tree메뉴</span>
			</a>
			<ul class="sub-menu">
				<li><a href="buttons.html">버튼 label 모달</a></li>
				<li><a href="form_elements.html">form-기본</a></li>
				<li><a href="form_datetime.html">form-날짜/시간</a></li>
				<li><a href="form_datetime2.html">form-날짜+시간</a></li>
				<li><a href="treemu.html">Tree메뉴</a></li>
			</ul>
		</li>
		<li class="has-sub">
			<a href="javascript:;">
				<b class="caret"></b>
				<i class="fa fa-th-large"></i>
				<span>ax5ui 주요기능</span>
			</a>
			<ul class="sub-menu">
				<li><a href="ax5ui.html">ax5ui 소개</a></li>
				<li><a href="ax5ui-dialog.html">팝업창</a></li>
				<li><a href="ax5ui-modal.html">이동 모달</a></li>
				<li><a href="ax5ui-formatter.html">입력 포멧(money,date)</a></li>
				<li><a href="ax5ui-select.html">select</a></li>
				<li><a href="ax5ui-combobox.html">combobox</a></li>
				<li><a href="ax5ui-autocomplete.html">입력 자동완성</a></li>
				<li><a href="ax5ui-layout.html">Dynamic Layout</a></li>
				<li><a href="ax5ui-docker.html">Docker Layout</a></li>
			</ul>
		</li>
		<!-- begin sidebar minify button -->
		<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i
					class="fa fa-angle-double-left"></i></a></li>
		<!-- end sidebar minify button -->
	</ul>
	<!-- end sidebar nav -->
</div>
<!-- end sidebar scrollbar -->

<!-- URL에따른 현재 페이지 메뉴 활성화 스크립트 -->
<script>
	$(function () {
		var url = window.location.pathname,
			urlRegExp = new RegExp(url.replace(/\/$/, '') + "$");
		$('a').each(function () {
			if (urlRegExp.test(this.href.replace(/\/$/, ''))) {
				$(this).parents('li').addClass('active');
			}
		});
	});
</script>