/* Google Online Font
@import url('https://webfonts.googleapis.com/css?family=Nanum+Gothic:100,300,400,700,800|Noto+Sans+KR:100,300,400,500,700,900|Roboto:100,300,400,500,700,900&subset=korean');
*/

/* noto-sans-kr - korean */
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 100;
    src: url('./webfonts/noto-sans-kr-v9-korean-100.eot'); /* IE9 Compat Modes */
    src: local('NotoSansKR Regular'), local('NotoSansKR-Regular'),
         url('./webfonts/noto-sans-kr-v9-korean-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./webfonts/noto-sans-kr-v9-korean-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('./webfonts/noto-sans-kr-v9-korean-100.woff') format('woff'), /* Modern Browsers */
         url('./webfonts/noto-sans-kr-v9-korean-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./webfonts/noto-sans-kr-v9-korean-100.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 300;
    src: url('./webfonts/noto-sans-kr-v9-korean-300.eot'); /* IE9 Compat Modes */
    src: local('NotoSansKR Regular'), local('NotoSansKR-Regular'),
         url('./webfonts/noto-sans-kr-v9-korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./webfonts/noto-sans-kr-v9-korean-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./webfonts/noto-sans-kr-v9-korean-300.woff') format('woff'), /* Modern Browsers */
         url('./webfonts/noto-sans-kr-v9-korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./webfonts/noto-sans-kr-v9-korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
     font-family: 'NotoSansKR';
     font-style: normal;
     font-weight: 400;
     src: url('./webfonts/noto-sans-kr-v9-korean-regular.eot'); /* IE9 Compat Modes */
     src: local('NotoSansKR Regular'), local('NotoSansKR-Regular'),
          url('./webfonts/noto-sans-kr-v9-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('./webfonts/noto-sans-kr-v9-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('./webfonts/noto-sans-kr-v9-korean-regular.woff') format('woff'), /* Modern Browsers */
          url('./webfonts/noto-sans-kr-v9-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./webfonts/noto-sans-kr-v9-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 500;
    src: url('./webfonts/noto-sans-kr-v9-korean-500.eot'); /* IE9 Compat Modes */
    src: local('NotoSansKR Medium'), local('NotoSansKR-Medium'),
        url('./webfonts/noto-sans-kr-v9-korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./webfonts/noto-sans-kr-v9-korean-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('./webfonts/noto-sans-kr-v9-korean-500.woff') format('woff'), /* Modern Browsers */
        url('./webfonts/noto-sans-kr-v9-korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./webfonts/noto-sans-kr-v9-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src: url('./webfonts/noto-sans-kr-v9-korean-700.eot'); /* IE9 Compat Modes */
    src: local('NotoSansKR Bold'), local('NotoSansKR-Bold'),
        url('./webfonts/noto-sans-kr-v9-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./webfonts/noto-sans-kr-v9-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('./webfonts/noto-sans-kr-v9-korean-700.woff') format('woff'), /* Modern Browsers */
        url('./webfonts/noto-sans-kr-v9-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./webfonts/noto-sans-kr-v9-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 900;
    src: url('./webfonts/noto-sans-kr-v9-korean-900.eot'); /* IE9 Compat Modes */
    src: local('NotoSansKR Bold'), local('NotoSansKR-Bold'),
        url('./webfonts/noto-sans-kr-v9-korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./webfonts/noto-sans-kr-v9-korean-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('./webfonts/noto-sans-kr-v9-korean-900.woff') format('woff'), /* Modern Browsers */
        url('./webfonts/noto-sans-kr-v9-korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./webfonts/noto-sans-kr-v9-korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* NanumGothic */
 @font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    src: url('./webfonts/NanumGothic-Regular.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic-Regular'), local('NanumGothic-Regular'),
        url('./webfonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./webfonts/NanumGothic-Regular.woff') format('woff'), /* Modern Browsers */
        url('./webfonts/NanumGothic-Regular.svg#NanumGothic-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'NanumGothic';
    font-style: bold;
    font-weight: 700;
    src: url('./webfonts/NanumGothic-Bold.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic-Bold'), local('NanumGothic-Bold'),
        url('./webfonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./webfonts/NanumGothic-Bold.woff') format('woff'), /* Modern Browsers */
        url('./webfonts/NanumGothic-Bold.svg#NanumGothic-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'NanumGothic';
    font-weight: 800;
    src: url('./webfonts/NanumGothic-ExtraBold.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic-ExtraBold'), local('NanumGothic-ExtraBold'),
        url('./webfonts/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./webfonts/NanumGothic-ExtraBold.woff') format('woff'), /* Modern Browsers */
        url('./webfonts/NanumGothic-ExtraBold.svg#NanumGothic-ExtraBold') format('svg'); /* Legacy iOS */
}

/* NanumSquare */
@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url('./webfonts/NanumSquareR.eot');
  src: url('./webfonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
       url('./webfonts/NanumSquareR.woff') format('woff'),
       url('./webfonts/NanumSquareR.ttf') format('truetype');
 }
 @font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url('./webfonts/NanumSquareB.eot');
  src: url('./webfonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
       url('./webfonts/NanumSquareB.woff') format('woff'),
       url('./webfonts/NanumSquareB.ttf') format('truetype');
 }
 @font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url('./webfonts/NanumSquareEB.eot');
  src: url('./webfonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
       url('./webfonts/NanumSquareEB.woff') format('woff'),
       url('./webfonts/NanumSquareEB.ttf') format('truetype');
 }
 @font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url('./webfonts/NanumSquareL.eot');
  src: url('./webfonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
       url('./webfonts/NanumSquareL.woff') format('woff'),
       url('./webfonts/NanumSquareL.ttf') format('truetype');
 }

/* DINMed */
@font-face {
    font-family: 'DINMed';
    font-weight: 400;
    src: url('./webfonts/DINMed.eot'); /* IE9 Compat Modes */
    src: local('DINMed'), local('DINMed'),
        url('./webfonts/DINMed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./webfonts/DINMed.ttf') format('truetype');
}

@font-face {
    font-family: 'DINMed';
    font-weight: bold;
    src: url('./webfonts/DINBol.eot'); /* IE9 Compat Modes */
    src: local('DINBol'), local('DINBol'),
        url('./webfonts/DINBol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./webfonts/Dinbol.woff') format('woff'), /* Modern Browsers */
        url('./webfonts/DINBol.ttf') format('truetype');
}


/* MaterialIcons */
/* https://material.io/resources/icons/?icon=add_shopping_cart&style=baseline */
@font-face {
    font-family: 'MaterialIcons';
    font-style: normal;
    font-weight: 400;
    src: url(./webfonts/Material-Icons.woff) format('woff');
}
  
  .material-icons {
    font-family: 'MaterialIcons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
  }