<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.victor.dongwha.mapper.FileMapper">
	<insert id="saveFile" parameterType="FileVO">
		INSERT INTO board_files (
			org_name, 	/* 원본파일명 */
			file_name, 	/* 저장파일명 */
			file_type, 	/* 파일확장자 */
			file_size 	/* 파일크기 */
		)
		VALUES (
			#{orgName},
			#{fileName},
			#{fileType},
			#{fileSize}
		)
		<selectKey resultType="Long" keyProperty="seq" keyColumn="seq" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	/* 조회 */
	<select id="findFile" parameterType="Long" resultType="FileVO">
		SELECT
			org_name, 	/* 원본파일명 */
			file_name, 	/* 저장파일명 */
			file_type, 	/* 파일확장자 */
			file_size
		FROM
			board_files
		WHERE
			AND seq = #{seq}
	</select>


</mapper>